body {
  min-height: 100dvh;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  flex: 1;
}

/* Heroes Section */
#heroesContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: auto;
}

.hero .name {
  font-size: 1.25rem;
}

.hero img {
  width: clamp(100px, 20vw, 200px);
  height: clamp(100px, 20vw, 200px);
}

.hero.locked {
  display: none;
}

/* Boss Section */
#bossContainer {
  display: flex;
  justify-content: center;
}

.boss {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.boss #bossStats {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.boss .name {
  font-size: 2rem;
  text-align: center;
}

.boss img {
  width: clamp(200px, 40vw, 400px);
  height: clamp(200px, 40vw, 400px);
}

/* Options Section */
#optionsContainer {
  display: flex;
  justify-content: space-around;
}

#store {
  display: flex;
  flex-direction: column;
  width: 25%;
  border: 1px solid black;
  padding: 10px;
}

#items .item {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 10px;
}

#alerts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  border: 1px solid black;
  padding: 10px;
}

#reset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  border: 1px solid black;
  padding: 10px;
  text-align: center;

}

/* Other */
/* .clickable {

} */